# Python caches
__pycache__/
*.py[cod]

# Virtual envs
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.spec

# Runtime outputs
generated-configs/
*.log

# IDE / OS
.vscode/
.idea/
Thumbs.db
Desktop.ini

# Local/unrelated files
UFecpQ89_400x400_power.txt
